.navbar {
  display: flex;
  gap: 5rem;
  align-self: flex-start;
  justify-content: space-evenly;
  padding: 1rem 2rem;
}

.logo {
  display: flex;
  gap: 0.25rem;

  .circle-1 {
    width: 2rem;
    height: 2rem;
    background: #000000;
    border-radius: 50%;
    position: relative;
  }

  .circle-1::after {
    content: "";
    position: absolute;
    top: 50%; /* middle of circle */
    left: 0;
    width: 100%;
    height: 2px; /* line thickness */
    background: rgb(255, 255, 255);
    transform: translateY(-50%);
  }

   .circle-2 {
    width: 2rem;
    height: 2rem;
    background: #000000;
    border-radius: 50%;
    position: relative;
  }

  .circle-2::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;          /* stretches the line full height */
    left: 50%;          /* center horizontally */
    width: 2px;         /* line thickness */
    background: rgb(255, 255, 255);
    transform: translateX(-50%); /* perfect center alignment */
  }

  .company-name{
    margin-left: 1rem;
   
    
    h3{
        font-size: 2rem;
        font-weight: 300;
         margin-top: -0.25rem;
    }

    p{
        text-align: right;
        color: #737373;
        font-weight: bold;
        font-size: 0.9rem;
    }
  }
}

.cart-details{
    margin-left: 17rem;

    p{
        font-size: 0.85rem;
        color: #737373;
    }
    a{
        color: #9e6f3c;
        font-weight: 900;
    }
}

.men, .magnus{
   b{
        color: #232121;
    }
}

.down-arrow{
    font-size: 8px;
}

.collection__title, .type__title{
    color: #909090;
    font-weight: bold;
}