.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #e7e6eb;
    display: flex;
    align-items: center;
    justify-content: center;
}
